 <!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
    </div>
    <div class="row content">
      <div class="col-lg-6">
        <p>A sentence here</p>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            we participate in falana
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            we participate in dhamkana
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            we participate in laban as well
          </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>JEE BHAR ke GAP HERE</p>
        <a href="#" class="btn-learn-more">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->